.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup-content {
    background: #979797;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    height: 40vh;
    opacity: 90%;
}


.close-button {
    position: absolute;
    top: 25%;
    right: 38%;
    background: none;
    border: none;
    font-size: xx-large;
    color: tomato;
}

.close-button:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.forms-container {
    display: flex;
    justify-content: space-between;
}

.form-section {
    flex: 1;
    margin: 0 10px;
}

.form-section h2 {
    text-align: center;
}

.form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section form div {
    margin-bottom: 10px;
}

.form-section form button {
    margin-top: 10px;
}

.inputLogin {
    width: 100%;
    padding: 8px;
    margin: 47px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.inputCadastro {
    width: 100%;
    padding: 8px;
    margin: 7.5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submitButton{
    background-color: #4caf50;
    color: white;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5%;
    border: none;
}

.submitButton:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: #28742b;
}

.toggle-button{
    background-color: #4caf50;
    color: white;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5%;
    border: none;
}

.toggle-button:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: #28742b;
}

.button-Login{
  background: url('../../assets/icons/login.png') no-repeat center center;
  background-size: contain;
  width: 50px; 
  height: 50px; 
  border: none;
  padding: 0;
  overflow: hidden;
  text-indent: -9999px;
  transition: transform 0.2s ease-in-out;
  filter: invert(100%) brightness(200%); 
  position: absolute;
  top: 9%;
  right: 5%;
}

.button-Login:hover {
  cursor: pointer;
  transform: scale(1.08);
}