.botaoEnvio {

    margin: 1%;
    width: 30vh;
    height: 5vh;

    border-radius: 20px;
    background-color: black;
    border-style: solid;

    color: aliceblue;

}

.botaoEnvio:hover {
    background-color: aliceblue;
    color: black;

    cursor: pointer;
}
