#body_Admin_Page {
    width: 95%;
    margin: 2.5%;

    margin-bottom: -100px;
}

#Colluns_Admin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 3%;

}


.Box {
    background-color: #cccccc;
    opacity: 85%;

    border-color:  #979797;
    border-radius: 35px;
    border-width: 10px;
    border-style: solid;

}

#Alarmes_Box {

    width: 125vh;

    div {
        margin: 1%;
    }

}

#Image_Box {

    width: 55vh;
}

#Estacoes_Box {


    margin: 2.5%;
    
    div {
        margin: 1%;
    }

}

#Usuarios_Box {

    margin: 2.5%;
    
    div {
        margin: 1%;
    }
    
}

#Parametros_Box {

    width: 125vh;


    div {
        margin: 1%;
    }

}

