#body_Admin_Page {
    width: 95%;
    margin: 2.5%;

    margin-bottom: -100px;
}

#Colluns_Admin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 3%;

}


.Box {
    background-color:  #4c5265;
    opacity: 80%;

    border-color: #323949;
    border-radius: 35px;
    border-width: 10px;
    border-style: solid;

}

#Alarmes_Box {

    width: 60%;
    

    div {
        margin: 1%;
    }

}

#Image_Box {

    width: 50vh;
    margin: 1%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    img {
        max-width:35vh;

        margin: 5%;


    }
}

#Estacoes_Box {


    margin: 2.5%;
    
    div {
        margin: 1%;
    }

}

#Usuarios_Box {

    margin: 2.5%;
    
    div {
        margin: 1%;
    }
    
}

#Parametros_Box {

    width: 60%;


    div {
        margin: 1%;
    }

}

#Dados_Box {

    margin: 2.5%;


    div {
        margin: 1%;
    }

}

.bodyAdmin{
   width: 80%;
}


#Box_Usuarios {
    overflow: auto;


}

#Box_Parametros {
    overflow: auto;

    #Title_Box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
        
}

#Box_Estacoes {
    overflow: auto;

    #Title_Box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
        
}

#Box_Alarmes {
    overflow: auto;

    #Title_Box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
        
}

#Title_Box h2 {
    font-size: large;
}

#Title_Box button {

    margin: 1%;
    padding: 1%;
    width: 15vh;
    height: 10vh;

    border-radius: 20px;
    background-color: black;
    border-style: solid;

    color: aliceblue;

}

#Title_Box button:hover {
    background-color: aliceblue;
    color: black;

    cursor: pointer;
}

#Scroll_Table {
    height: 250px;
    
    overflow: visible;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    font-size: large;
}

th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f530;

}









#Title_Section {
    display: flex;
    align-items: center;
    justify-content:baseline;
    flex-direction: column;

    p {
        margin-top: -10px;
        font-size: x-small;
    }

}

#Inputs_Camp {
    margin-left: 5%;

    p {
        margin-left: 1.5%;
        margin: 1%;
    }

    p input {
        display: flex;
        align-items: end;


        width: 90%;

        padding: 1%;

        border-radius: 20px;
        border-style: solid;

    }
    
    p select {

        display: flex;
        align-items: end;


        width: 92.5%;

        padding: 1%;

        border-radius: 20px;
        border-style: solid;

    }
}

#Action {

    button {

        margin: 1%;
        padding: 1%;

        border-radius: 20px;
        background-color: black;
        border-style: solid;

        color: aliceblue;
    }

    button:hover {
        background-color: aliceblue;
        color: black;

        cursor: pointer;
    }
}   

.botaoEnvio {

    margin: 1%;
    width: 30vh;
    height: 5vh;

    border-radius: 20px;
    background-color: black;
    border-style: solid;

    color: aliceblue;

}

.botaoEnvio:hover {
    background-color: aliceblue;
    color: black;

    cursor: pointer;
}



@media (max-width: 1100px) {

    #Alarmes_Box {
        width: 95%;
    }

    #Parametros_Box {
        width:95%;
    }

    #Image_Box {
        width: 95%;
    }

    #Estacoes_Box {
        margin-bottom: 100px;
    }

}